@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html,
body,
[class*="css"] {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #091747;
}

.sidebar .sidebar-content {
    background-image: linear-gradient(#2e7bcf, #2e7bcf);
    color: white;
}